body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.container {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #3e0303;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  button {
    width: 100%;
  }
}

p {
  color: red;
  margin-top: 5px;
}
